// op - opacity
$frost-white-color-3-op: #FFFFFF08;
$white-color: #E5FFFF;
$white-color-7-op: #E5FFFF12; 
$white-color-15-op: #E5FFFF26; 
$white-color-20-op: #E5FFFF33; 
$white-color-25-op: #E5FFFF40; 
$white-color-29-op: #E5FFFF4A; 
$white-color-40-op: #E5FFFF66;
$black-color: #131A1BB3;
$aquamarin-color: #2BD9D9;